/*!---------- PLACE YOUR CUSTOM STYLES AND OVERRIDES HERE ----------*/

* {
    font-family: 'Quicksand', sans-serif;
}

.logo {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    display: block;
    color: #e3342f;
}

.logo-footer {
    margin-bottom: 20px;
}

.features-13 p a {
    color: #fff;
}

@media screen and (max-width: 992px) {
    .features-13, .features-13 p {
        text-align: center;
    }
    
}

.cta-8 .btn, .cta-8 .btn:nth-of-type(1) {
    margin: 10px auto;
}

@media screen and (min-width: 992px) {
    .cta-8 .btn, .cta-8 .btn:nth-of-type(1) {
        margin: 10px 20px;
    }
}

.fa-heart {
    color: #e3342f;
    padding: 0 5px;
}

.encypher {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}